.recentOrders {
    margin-top: 1.3rem;
}

.recentOrders h2 {
    margin-bottom: 0.8rem;
}

.recentOrders table {
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

.recentOrders table:hover {
    box-shadow: none;
}

.recentOrders tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

.recentOrders tbody tr:last-child td {
    border: none;
}

.recentOrders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.recentOrders .danger {
    color: #FF0060;
  }
  
.recentOrders .warning {
    color: #F7D060;
  }
  
.recentOrders .primary {
    color:#6C9BCF;;
  }


  @media screen and (max-width: 1200px) {

    .recentOrders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }
  
    .recentOrders table{
        width: 83vw;
    }
  
    .table thead tr th:last-child,
    .table thead tr th:first-child{
        display: none;
    }
  
    .table tbody tr td:last-child,
    .table tbody tr td:first-child{
        display: none;
    }
  
  }

  @media screen and (max-width: 768px) {


    .recentOrders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
  
    .recentOrders table{
        width: 100%;
        margin: 0;
    }
  }  