.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.toggle .logo{
    display: flex;
    gap: 0rem;
}
  
.toggle .logo img{
    width: 7rem;
    height: 7rem;
}



@media screen and (max-width: 768px) {

    .aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }
    .toggle .close{
        display: block;
    }
  
}

@keyframes showMenu {
    to{
     left: 0;
    } 
 }

